@use "variables";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  // this defines 1 rem
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  color: variables.$text-color-dark;
  font-family: "open sans", europa, sans-serif;
  font-size: variables.$default-font-size;
}

h1 {
  margin-top: 10px;
  text-align: center;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
}

nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

nav > ul > li > a {
  color: variables.$text-color-light;
  font-size: 1.7rem;
  padding: 2rem;
  text-decoration: none;

  &:hover {
    color: variables.$color-secondary;
  }

  &:active {
    color: variables.$color-secondary;
  }
}

