.header {
  background-image: linear-gradient(to right, $color-primary-dark, $color-tertiary-dark);
  position: relative;

  &-text {
    color: $color-white;
    font-family: "Lovers Quarrel", cursive;
    font-size: 8rem;
    left: 2rem;
    position: absolute;
    top: 2rem;
  }
}

.hero-image {
  height: 40vw;
  object-fit: cover;
  opacity: 0.15;
  width: 100%;
}

.section__heading {
  text-align: center;
}

.section__text {
  margin: 2rem 5rem;
}

.work {
  margin-top: 3rem;
}

