@use "variables";

.header { 
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  margin-top: 10vh;
  width: 52rem;

  &-logo {
    height: 10rem;
    margin-right: 2rem;
  }

  &-text {
    color: variables.$color-white;
    font-family: "Lovers Quarrel", cursive;
    font-size: 8rem;
  }
}
