.container {
  background: rgba(44, 19, 31, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  box-shadow: 0 4px 3rem rgba(0, 0, 0, 0.1);
  height: 14rem;
  margin: 0 auto;
  margin-top: 13vh;
  width: 52rem;
}

.root {
  background:
    linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)),
    url("assets/images/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
