$color-primary: #125fc1;
$color-primary-light: #3776c7;
$color-primary-dark: #094899;

$color-secondary: #02c090;
$color-secondary-light: #2ac69f;
$color-secondary-dark: #009872;
// $color-secondary-dark: #007659;

$color-tertiary: #311cc8;
$color-tertiary-light: #5240cd;
$color-tertiary-dark: #210fa2;

$color-gray-light: #c0c0c0;
$color-white: #fff;
$text-color-light: #fff;
$text-color-dark: #0b1b43;

$default-font-size: 1.4rem;
