$color-primary: #234E77;
$color-primary-light: #32628a;
$color-primary-dark: #123a61;

$color-secondary: #1d7b5a;
$color-secondary-light: #358e6f;
$color-secondary-dark: #0c6445;

$color-tertiary: #531E32;
$color-tertiary-light: #613344;
$color-tertiary-dark: #3d0e1f;

$color-gray-light: #c0c0c0;
$color-white: #fff;
$text-color-light: #fff;
$text-color-dark: #0b1b43;
$dark-background: #28282b;

$default-font-size: 1.4rem;
