@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-light: #ffffff;
  --text-dark: #171717;
  --primary: #2c5eb4;
  --secondary: #281a37;
  --tertiary: #ca677e;
  --quaternary: #3face8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--text-light);
  background: var(--secondary);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Open Sans", Helvetica, sans-serif;
}

h1 {
  font-family: "Lovers Quarrel", Helvetica, sans-serif;
  font-size: 5rem;
}

h2 {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 1.5rem;
}