@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-black: #171717;
  --color-white: #ededed;
  --color-primary: #0e407a;
  --color-secondary: #ebb261;
  --color-tertiary: #020e23;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: var(--color-white);
    --foreground: var(--color-black);
  }
}

body {
  color: var(--text-light);
  background: var(--color-tertiary);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
